        body {
            font-family: 'Poppins', sans-serif;
        }
        .hero-bg {
            background-image: url('/public/images/roteiroSul/cutia_upscayl_2x_high-fidelity-4x.png');
        }
        .card-hover {
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
        .card-hover:hover {
            transform: translateY(-10px);
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        }
        /* Estilos para os botões do slider */
        .slider-btn {
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.2s ease;
        }
        .slider-btn:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }